@font-face {
  font-family: "comic sans ms";
  src: url(comic sans ms.ttf);
}
#Ulife_forall {
  width: 7.2rem;
  height: 100%;
  background: #f2f2f2;
}
.page {
  background: #f2f2f2 !important;
}
.page .page-content {
  padding-top: 0.96rem!important;
}
.home_navbar_div {
  background: #FE9246 !important;
  height: 0.96rem!important;
}
.home_navbar_div .home_navbar_title {
  float: left!important;
  margin-left: 2.86rem!important;
  font-size: 0.5rem!important;
  font-family: "comic sans ms";
}
.home_navbar_div i {
  font-size: 0.44rem;
  float: right!important;
  margin-right: 0.25rem!important;
}
.home_swiper {
  width: 7.2rem;
  height: 4.05rem;
}
.home_swiper img {
  width: 7.2rem;
  height: 4.05rem;
  max-width: 100%;
  max-height: 100%;
}
.home_swiper .swiper-pagination-bullet-active {
  background: #FE9246 !important;
}
.home_swiper .home_swiper-pagination {
  margin-bottom: 0.17rem!important;
}
#home_circle {
  width: 7.2rem;
  height: 0.12rem;
  background: white;
  border-radius: 100% 100% 0 0;
  position: relative;
  z-index: 5000;
  bottom: 0.12rem;
  float: left;
}
.home_subtoolbar {
  height: 0.96rem!important;
  border: none!important;
}
.home_subtoolbar div {
  background: white!important;
}
.home_subtoolbar div span {
  color: black;
  font-size: 0.36rem!important;
  opacity: 0.75;
}
.home_toolbar {
  height: 0.96rem!important;
  position: relative;
  z-index: 999!important;
}
.home_toolbar .home_toolbar_div {
  background: #ffffff!important;
  height: 0.96rem!important;
}
.home_toolbar .home_toolbar_div .home_toolbar i {
  font-size: 0.45rem!important;
  margin-bottom: 0.05rem;
  color: #666666;
}
.home_toolbar .home_toolbar_div .home_toolbar span {
  font-size: 0.2rem!important;
  color: #666666;
}
.tab-link-active i {
  color: #FE9246 !important;
  opacity: 1!important;
}
.tab-link-active span {
  color: #FE9246 !important;
  opacity: 1!important;
}
.card {
  border-radius: 3%!important;
}
.home_cardheader {
  height: 3.2rem!important;
  width: 3.2rem!important;
  background-size: cover;
  background-position: center;
  color: #fff;
  float: left;
  margin-left: 0.265rem!important;
  margin-top: 0.25rem!important;
  margin-right: 0rem!important;
  margin-bottom: 0!important;
}
.home_cardheader .home_card-header {
  height: 1.8rem;
  width: 3.2rem;
  background-size: cover;
  background-position: center;
  color: #fff;
  border-radius: 3% 3% 0 0;
}
.home_cardheader .home_card-content-padding {
  color: #8e8e93;
  height: 1.4rem;
  width: 3.2rem;
  padding: 0;
  margin: 0;
}
.home_cardheader .home_card-content-padding .home_cardtitle {
  font-size: 0.3rem;
  margin: 0;
  color: black;
  margin-top: 0.13rem;
  margin-left: 0.08rem;
}
.home_cardheader .home_card-content-padding .home_card_orgdiv {
  height: 0.32rem;
}
.home_cardheader .home_card-content-padding .home_card_orgdiv .home_tabs_orgimg {
  width: 0.32rem;
  height: 0.32rem;
  max-height: 100%;
  max-width: 100%;
  margin-left: 0.08rem;
  border-radius: 100%;
}
.home_cardheader .home_card-content-padding .home_card_orgdiv .home_tabs_orgname {
  margin-left: 0.17rem;
  padding: 0;
  font-size: 0.22rem;
  color: #666666;
  position: relative;
  bottom: 0.05rem;
}
.home_cardheader .home_card-content-padding .home_carddetail {
  margin-top: 0.1rem;
  padding-left: 0.08rem;
  width: 3.12rem;
  font-size: 0.22rem;
  color: #666666;
}
.home_cardheader .home_card-content-padding .home_carddetail i {
  color: #666666!important;
  font-size: 0.3rem;
  float: right;
  margin-right: 0.2rem;
}
.searchbar::after {
  display: none;
}
.find_searchbardiv {
  background: #FE9246;
  height: 0.96rem;
}
.find_searchbardiv a {
  background: white;
  width: 6rem!important;
  height: 0.49rem!important;
  margin: 0 auto;
  border: none;
  border-radius: 6rem;
}
.find_searchbardiv a i {
  margin-left: 0.35rem;
}
.find_searchbardiv a span {
  color: #666666;
  font-size: 0.28rem;
  margin-left: 1.5rem;
}
.find_subtoolbar {
  height: 0.96rem!important;
  border: none!important;
  background: white!important;
  position: fixed;
  top: 0.96rem;
  z-index: 5000;
}
.find_subtoolbar div {
  background: white!important;
}
.find_subtoolbar div a {
  margin-top: 0.23rem;
}
.find_subtoolbar div a span {
  color: black;
  font-size: 0.36rem!important;
  opacity: 0.75;
}
.find_subtoolbar:after {
  content: '';
  position: absolute;
  right: 0;
  width: 100%;
  top: 100%;
  bottom: auto;
  height: 10px;
  pointer-events: none;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), color-stop(40%, rgba(0, 0, 0, 0.1)), color-stop(50%, rgba(0, 0, 0, 0.05)), color-stop(80%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0.05) 50%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0.05) 50%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0) 100%);
}
.find_scrollcards {
  margin-top: 0.96rem;
}
.find_cardheader {
  height: 5.5rem!important;
  width: 6.7rem!important;
  background-size: cover;
  background-position: center;
  color: #fff;
  float: left;
  margin-left: 0.265rem!important;
  margin-top: 0.25rem!important;
  margin-bottom: 0!important;
}
.find_cardheader .find_card-header {
  height: 4.05rem;
  width: 6.7rem;
  background-size: cover;
  background-position: center;
  color: #fff;
  border-radius: 3% 3% 0 0;
}
.find_cardheader .find_card-content-padding {
  color: #8e8e93;
  height: 1.45rem;
  width: 6.7rem;
  padding-left: 0.2rem;
  margin: 0;
}
.find_cardheader .find_card-content-padding .find_cardtitle {
  font-size: 0.3rem;
  margin: 0;
  color: black;
  margin-top: 0.13rem;
  margin-left: 0.08rem;
}
.find_cardheader .find_card-content-padding .find_carddetail {
  float: left;
  margin-top: 0.1rem;
  padding-left: 0.08rem;
  width: 5.4rem;
  font-size: 0.22rem;
  color: #666666;
}
.find_cardheader .find_card-content-padding .find_carddetail span {
  margin-left: 0.2rem;
}
.find_cardheader .find_card-content-padding img {
  width: 0.8rem;
  height: 0.8rem;
  max-width: 100%;
  max-height: 100%;
  border-radius: 100%;
  color: #666666!important;
  font-size: 0.3rem;
  float: left;
}
.myown_mydiv {
  width: 7.2rem;
  height: 4.05rem;
  background: url(../test/渐变.png) no-repeat;
}
