@maincolor: #FE9246;
@deepgraytext: #666666;
@bg: #f2f2f2;
@font-face {
    font-family: "comic sans ms";
    src: url(comic sans ms.ttf);
}

#Ulife_forall {
    width: 7.2rem;
    height: 100%;
    background: @bg;
}

.page {
    background: @bg!important;
    //解决.page-content上方空隙的问题，因为原文档写的是px单位，而实际用的rem
    .page-content {
        padding-top: 0.96rem!important;
    }
}

//主页导航栏
.home_navbar_div {
    background: @maincolor!important;
    height: 0.96rem!important;
    .home_navbar_title {
        float: left!important;
        margin-left: 2.86rem!important;
        font-size: 0.5rem!important;
        font-family: "comic sans ms";
    }
    i {
        font-size: 0.44rem;
        float: right!important;
        margin-right: 0.25rem!important;
    }
}

//.navbar::after {
//  display: none;
//}
//主页滚播图片
.home_swiper {
    width: 7.2rem;
    height: 4.05rem;
    img {
        width: 7.2rem;
        height: 4.05rem;
        max-width: 100%;
        max-height: 100%;
    }
    .swiper-pagination-bullet-active {
        background: @maincolor!important;
    }
    .home_swiper-pagination {
        margin-bottom: 0.17rem!important;
    }
}

//弧形组件
#home_circle {
    width: 7.2rem;
    height: 0.12rem;
    background: white;
    border-radius: 100% 100% 0 0;
    position: relative;
    z-index: 5000;
    bottom: 0.12rem;
    float: left;
}

//主页热门/推荐/新活动
.home_subtoolbar {
    height: 0.96rem!important;
    border: none!important;
    div {
        background: white!important;
        span {
            color: black;
            font-size: 0.36rem!important;
            opacity: 0.75;
        }
    }
}

//主页底部工具栏
.home_toolbar {
    height: 0.96rem!important;
    position: relative;
    z-index: 999!important;
    .home_toolbar_div {
        background: #ffffff!important;
        height: 0.96rem!important;
        .home_toolbar i {
            font-size: 0.45rem!important;
            margin-bottom: 0.05rem;
            color: @deepgraytext;
        }
        .home_toolbar span {
            font-size: 0.2rem!important;
            color: @deepgraytext;
        }
    }
}

//.home_toolbar:before{
//  position: absolute;
//  right: 0;
//  top: 0;
//  left: 0;
//  height: 1px;
//  content: '';
//  -webkit-transform: scaleY(.5);
//  transform: scaleY(.5);
//  background-color: #c8c7cc;
//}
//toolbar当前目标颜色
.tab-link-active {
    i {
        color: @maincolor!important;
        opacity: 1!important;
    }
    span {
        color: @maincolor!important;
        opacity: 1!important;
    }
}

//主页页签卡片组
.card {
    border-radius: 3%!important;
}

.home_cardheader {
    height: 3.2rem!important;
    width: 3.2rem!important;
    background-size: cover;
    background-position: center;
    color: #fff;
    float: left;
    margin-left: 0.265rem!important;
    margin-top: 0.25rem!important;
    margin-right: 0rem!important;
    margin-bottom: 0!important;
    .home_card-header {
        height: 1.8rem;
        width: 3.2rem;
        background-size: cover;
        background-position: center;
        color: #fff;
        border-radius: 3% 3% 0 0;
    }
    .home_card-content-padding {
        color: #8e8e93;
        height: 1.4rem;
        width: 3.2rem;
        padding: 0;
        margin: 0;
        .home_cardtitle {
            font-size: 0.3rem;
            margin: 0;
            color: black;
            margin-top: 0.13rem;
            margin-left: 0.08rem;
        }
        .home_card_orgdiv {
            height: 0.32rem;
            .home_tabs_orgimg {
                width: 0.32rem;
                height: 0.32rem;
                max-height: 100%;
                max-width: 100%;
                margin-left: 0.08rem;
                border-radius: 100%;
            }
            .home_tabs_orgname {
                margin-left: 0.17rem;
                padding: 0;
                font-size: 0.22rem;
                color: #666666;
                position: relative;
                bottom: 0.05rem;
            }
        }
        .home_carddetail {
            margin-top: 0.1rem;
            padding-left: 0.08rem;
            width: 3.12rem;
            font-size: 0.22rem;
            color: #666666;
            i {
                color: #666666!important;
                font-size: 0.3rem;
                float: right;
                margin-right: 0.2rem;
            }
        }
    }
}

//发现页面
//搜索框
.searchbar::after {
    display: none;
}

.find_searchbardiv {
    background: @maincolor;
    height: 0.96rem;
    a {
        background: white;
        width: 6rem!important;
        height: 0.49rem!important;
        margin: 0 auto;
        border: none;
        border-radius: 6rem;
        i {
            margin-left: 0.35rem;
        }
        span {
            color: @deepgraytext;
            font-size: 0.28rem;
            margin-left: 1.5rem;
        }
    }
}

//页签组件
.find_subtoolbar {
    height: 0.96rem!important;
    border: none!important;
    background: white!important;
    position: fixed; //固定find——subtoolbar
    top: 0.96rem; //固定find——subtoolbar
    z-index: 5000; //固定find——subtoolbar
    div {
        background: white!important;
        a {
            margin-top: 0.23rem;
            span {
                color: black;
                font-size: 0.36rem!important;
                opacity: 0.75;
            }
        }
    }
}
//find_subtoolbar阴影
.find_subtoolbar:after {
    content: '';
    position: absolute;
    right: 0;
    width: 100%;
    top: 100%;
    bottom: auto;
    height: 10px;
    pointer-events: none;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), color-stop(40%, rgba(0, 0, 0, 0.1)), color-stop(50%, rgba(0, 0, 0, 0.05)), color-stop(80%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0.05) 50%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0.05) 50%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0) 100%);
}

//find界面卡片视图
.find_scrollcards {
    margin-top: 0.96rem;
} //固定find——subtoolbar
.find_cardheader {
    height: 5.5rem!important;
    width: 6.7rem!important;
    background-size: cover;
    background-position: center;
    color: #fff;
    float: left;
    margin-left: 0.265rem!important;
    margin-top: 0.25rem!important;
    margin-bottom: 0!important;
    .find_card-header {
        height: 4.05rem;
        width: 6.7rem;
        background-size: cover;
        background-position: center;
        color: #fff;
        border-radius: 3% 3% 0 0;
    }
    .find_card-content-padding {
        color: #8e8e93;
        height: 1.45rem;
        width: 6.7rem;
        padding-left: 0.2rem;
        margin: 0;
        .find_cardtitle {
            font-size: 0.3rem;
            margin: 0;
            color: black;
            margin-top: 0.13rem;
            margin-left: 0.08rem;
        }
        .find_carddetail {
            float: left;
            margin-top: 0.1rem;
            padding-left: 0.08rem;
            width: 5.4rem;
            font-size: 0.22rem;
            color: #666666;
            span {
                margin-left: 0.2rem;
            }
        }
        img {
            width: 0.8rem;
            height: 0.8rem;
            max-width: 100%;
            max-height: 100%;
            border-radius: 100%;
            color: #666666!important;
            font-size: 0.3rem;
            float: left;
        }
    }
}


//myown-page
//调整myown的page-contentpadding-top
.myown_page-content{
//  padding-top: 0!important;
}
.myown_mydiv{
    width: 7.2rem;
    height: 4.05rem;
    background: url(../test/渐变.png) no-repeat;
}
